* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

:root {
  --color-primary: #508ed4;
  --color-primary-light: #94d6e9;
  --color-primary-dark: #073666;
  --color-grey: #999;
  --color-grey-dark: #333;
  --color-grey-light: #e9e9e9; }

html {
  font-size: 62.5%;
  color: var(--color-grey-dark);
  font-family: "Open Sans", sans-serif; }

.about {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly; }
  .about__heading-box {
    flex: 0 0 100%; }
  .about__skills-box {
    height: 50rem; }
  .about__blurb-box {
    height: 50rem;
    width: 50rem; }

.projects__heading-box {
  margin-bottom: 6rem;
  padding-top: 2rem; }

.projects__container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  align-content: space-around; }

.projects__card {
  margin-bottom: 5rem; }

.btn {
  border: none;
  color: var(--color-grey-light);
  font-size: 2rem;
  background-color: var(--color-primary);
  padding: 1rem;
  border-radius: 10px;
  transition: all .2s;
  outline: none; }
  .btn:hover, .btn:active {
    transform: scale(1.1); }
  .btn__hero {
    margin-left: 1.5rem;
    margin-top: 2rem; }

.heading__secondary {
  font-size: 4rem;
  font-weight: 300;
  color: var(--color-grey-dark); }

.heading__tertiary {
  font-size: 3rem;
  font-weight: 200;
  color: var(--color-grey-dark); }

.header {
  background-image: linear-gradient(to bottom right, var(--color-primary-light), var(--color-primary-dark));
  height: 10vh;
  font-size: 1.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  color: var(--color-grey-light); }
  .header__name {
    color: inherit;
    font-weight: 200; }
  .header__nav {
    width: 40rem; }
  .header__nav-list {
    list-style: none;
    display: flex;
    justify-content: space-around;
    font-size: 2rem;
    font-weight: 200; }
  .header__nav-link {
    text-decoration: none;
    color: inherit;
    transition: all .2s; }
    .header__nav-link:hover, .header__nav-link:active {
      border-bottom: 1px solid var(--color-grey-dark);
      transform: scale(1.2); }

.hero {
  background-color: var(--color-grey-light);
  height: 100vh; }
  .hero__container {
    width: 80%;
    margin: 10rem auto 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .hero__heading {
    font-size: 4.5rem;
    font-weight: 200;
    margin-top: -2rem; }
  .hero__img {
    width: 30rem; }

.about__heading {
  text-align: center; }

.about__blurb {
  font-size: 1.8rem;
  line-height: 1.6;
  padding: 1rem;
  padding-top: 6rem; }

.about__skills-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 40rem; }

.skills__heading {
  width: 100%;
  height: 10%;
  text-align: center; }

.skills__icon {
  height: 6rem;
  width: 6rem;
  margin: 1rem;
  flex: 0 0 20%;
  margin-top: -10rem; }

.html {
  fill: #e34c26; }

.css {
  fill: #264de4; }

.git {
  fill: #f34f29; }

.sass {
  fill: #cc6699; }

.js {
  fill: #f0db4f; }

.node {
  fill: #3c873a; }

.xd {
  fill: #da47cd; }

.projects {
  background-color: var(--color-grey-light);
  height: 100%; }
  .projects__heading {
    text-align: center; }
  .projects__card {
    background-color: var(--color-primary-light);
    width: 30rem;
    height: 40rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 2px;
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25); }
  .projects__card--img {
    width: 100%; }
  .projects__card--heading {
    margin: 1.5rem 0; }
  .projects__card--blurb {
    font-size: 1.6rem;
    padding: 1rem;
    line-height: 1.6; }
