////////////////////////////////
// REUSABLE
.btn {
    border: none;
    color: var(--color-grey-light);
    font-size: 2rem;
    background-color: var(--color-primary);
    padding: 1rem;
    border-radius: 10px;
    transition: all .2s;
    outline:none;

    &:hover,
    &:active {
        transform: scale(1.1);
    }

    &__hero {
        margin-left: 1.5rem;
        margin-top: 2rem;
    }
}

.heading__secondary {
    font-size: 4rem;
    font-weight: 300;
    color: var(--color-grey-dark);
}

.heading__tertiary {
    font-size: 3rem;
    font-weight: 200;
    color: var(--color-grey-dark);
}


////////////////////////////////
// HEADER

.header {
    background-color: var(--color-primary-black);
    height: 10vh;
    font-size: 1.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    color: var(--color-primary);

    &__name {
        color: inherit;
        font-weight: 200;
    }

    &__nav {
        width: 40rem;
    }

    &__nav-list {
        list-style: none;
        display: flex;
        justify-content: space-around;
        font-size: 2rem;
        font-weight: 200;
    }

    &__nav-link {
        text-decoration: none;
        color: inherit;
        transition: all .2s;

        &:hover,
        &:active {
            border-bottom: 1px solid var(--color-primary-light);
            transform: scale(1.2);
        }
    }
}


////////////////////////////////
// HERO

.hero {
    background-image: linear-gradient(to right bottom, var(--color-grey-light), var(--color-grey-dark));
    height: 100vh;
    

    &__container {
        width: 80%;
        margin: 10rem auto 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__heading {
        font-size: 4.5rem;
        font-weight: 200;
        margin-top: -2rem;
        color: var(--color-primary-dark)
    } 


    &__img {
        width: 30rem;
        border-radius: 50%;
    }
}



////////////////////////////////
// ABOUT

.about {
    max-height: 150vh;


    &__heading {
        text-align: center;
        color: var(--color-primary-dark);
    }

    &__blurb {
        font-size: 1.8rem;
        line-height: 1.6;
        padding: 1rem;
        padding-top: 6rem;
    }
}

.about__skills-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    width: 40rem;
}

.skills {

    &__heading {
        width: 100%;
        height: 10%;
        text-align: center;
        color: var(--color-primary-dark);
    }

    &__icon {
        height: 6rem;
        width: 6rem;
        margin: 1rem;
        flex: 0 0 20%;
        margin-top: -10rem;
    }
}

////////////////////////////////
// ICON COLORS
.html {
    fill: #e34c26;
}

.css {
    fill: #264de4;
}

.git {
    fill: #f34f29;
}

.sass {
    fill: #cc6699;
}

.js {
    fill: #f0db4f;
}

.node {
    fill: #3c873a;
}

.xd {
    fill: #da47cd;
}


////////////////////////////////
// PROJECTS

.projects {
    background-color: var(--color-grey-light);
    min-height: 100%;


    &__heading {
        text-align: center;
    }

    &__container {
        
    }

    &__card {
        background-color: var(--color-grey-light);
        color: var(--color-primary-dark);
        width: 30rem;
        height: 40rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 2px;
        box-shadow: 0 1rem 4rem rgba(0,0,0,.25);
    }

    &__card--img {
        width: 100%;
        cursor: pointer;
    }

    &__card--heading {
        margin: 1.5rem 0;
        color: var(--color-primary-dark);
    }   

    &__card--blurb {
        font-size: 1.6rem;
        line-height: 1.6;
    }

    &__card-list {
        list-style: none;
        font-size: 1.4rem;
        text-align: center;
    }

    &__card-item {
        margin-bottom: 2rem;
    }

    &__card-link {
        color: inherit;
        text-decoration: none;
    }

}

////////////////////////////////
// MODAL WINDOWS
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.6);
    backdrop-filter: blur(3px);
    z-index: 5;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;

    background-color: var(--color-grey-light);
    border-radius: 5px;
    box-shadow: 0 3rem 5rem rgba(0,0,0,.3);
    z-index: 10;

    padding: 2rem;

}

.close-modal {
    position: absolute;
    top: 1.2rem;
    right: 2rem;
    font-size: 5rem;
    color: #333;
    cursor: pointer;
    border: none;
    background: none;
}

.hidden {
    display: none;
}




////////////////////////////////
// FOOTER

.footer {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    background-color: var(--color-primary-black);
    color: var(--color-primary);

    &__heading {
        font-size: 2rem;
        font-weight: 300;
    }

    &__copy {
        font-size: 1.6rem;
    }
}


////////////////////////////////
// CONTACT
.contact {

    &__heading {
        text-align: center;
    }

    &__icon {
        height: 6rem;
        width: 6rem;
        margin: 1rem;
    }

    &__para {
        font-size: 1.6rem;
    }
}

.gmail {
    fill: #C71610;
}

.facebook {
    fill: #3b5998;
}

.twitter {
    fill: #1DA1F2;
}

